<form (ngSubmit)="saveItem()" #cartItemForm="ngForm">
    <section>
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput
                id="productName"
                placeholder="Product Name"
                [(ngModel)]="cartItem.product.name"
                name="productName"
                #fieldProductName="ngModel"
                required>
        </mat-form-field>
    </section>
    <section>
        <mat-form-field appearance="fill">
            <mat-label>Quantity</mat-label>
            <input matInput
                id="quantity"
                placeholder="Quantity"
                [(ngModel)]="cartItem.quantity"
                name="quantity"
                #fieldQuantity="ngModel"
                required>
        </mat-form-field>
    </section>
    <section>
        <mat-form-field appearance="fill">
            <mat-label>Price</mat-label>
            <input matInput
                id="price"
                placeholder="Quantity"
                [(ngModel)]="cartItem.price"
                name="price"
                #fieldPrice="ngModel"
                required>
        </mat-form-field>
    </section>
    <section>
        <mat-form-field appearance="fill">
            <mat-label>Supermarket</mat-label>
            <input matInput
                id="price"
                placeholder="Supermarket"
                [(ngModel)]="cartItem.supermarketName"
                name="price"
                #fieldPrice="ngModel"
                required>
        </mat-form-field>
    </section>
    <section>
        <button mat-raised-button color="primary" 
            *ngIf="cartItem.id === 0"
            [disabled]="cartItemForm.invalid">Add</button>
        <button mat-raised-button color="primary" 
            *ngIf="cartItem.id !== 0"
            [disabled]="cartItemForm.invalid">Update</button>
    </section>
</form>