<mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-icon" aria-label="Menu">
        <mat-icon>menu</mat-icon>
    </button>
    <span>
        <a [routerLink]="['shopping-cart']">Shopping List</a>
    </span>
</mat-toolbar>

<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openShoppingListModal()">
        <mat-icon>add_circle</mat-icon>
        <span>New List</span>
    </button>
    <button mat-menu-item (click)="openSelectShoppingListModal()">
        <mat-icon>list</mat-icon>
        <span>Open List</span>
    </button>
    <button mat-menu-item>
        <a [routerLink]="['reports']">
            <mat-icon>description</mat-icon>
            <span>Reports</span>
        </a>
    </button>
    <button mat-menu-item (click)="openSupermarketModal()">
        <mat-icon>trolley</mat-icon>
        <span>Supermarkets</span>        
    </button>
</mat-menu>