.list-expansion {
    max-width: 50%;
}

.shopping-cart-list {
    margin: 5px;
}
 
.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
}
  
.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}
  
.example-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
}

.add-item-button {
    margin-left: 10px;
}

mat-panel-title > div > button {
    margin-right: 7px;
}

.example-margin {
    margin: 0 12px;
}

.btn-delete-cart-item {
    display: flex;
    align-items: flex-end;
}